@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@font-face {
  font-family: 'Norse';
  src: url('Norse-Bold.otf');
}

/* TURN ON FOR DEV TESTING
div{
  border: 2px solid red;
}
*/

 /* =================== \
|         Variabls       |
 \ =================== */


 :root {
  --color-bg-primary: ivory;
  --color-bg-secondary: rgb(56, 56, 56);
  --color-text-primary: rgb(56, 56, 56);
  --color-text-secondary: ivory;
  --color-checkbox-green: green;
  --color-state-indeterminate: yellow;
  --color-state-success: limegreen;
  --color-state-error: rgb(225, 0, 0);
  --color-state-caution: orange;
  --color-accent-a: darkcyan;
  --color-accent-b: rgb(187, 161, 11);

  font-size: 18px;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 21px;

  font-weight: 500;
  --font-weight-h1: 800;
  --font-weight-h2: 700;
  --font-weight-h3: 600;

  --section-height-header: 0vh;
  --section-height-footer: 0vh;
  --section-height-main: calc(100vh - (var(--section-height-header) + var(--section-height-footer)));

  --width-left-panel: 33vw;
}

 /* =================== \
|         Elements       |
 \ =================== */

body {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  box-sizing: border-box;
  background-color: var(--color-bg-secondary);
}

h1{
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  padding: 20px;
  margin-bottom: 20px;
}

h2{
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  padding: 12px;
  margin-bottom: 15px;
}

h3{
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  padding: 10px;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
  padding: 10px;
}

header {
  min-height: var(--section-height-header);
}

footer {
  min-height: var(--section-height-footer);  
  padding: auto 0; 
}

main {
  display: flex;
  background-color: var(--color-bg-primary);
  min-height: var(--section-height-main);
}

label{
  font-size: 0.75rem;
}

/* Will need to replace the OS styles */
input{
  appearance: none;
  border: 1px solid rgba(56, 56, 56, 0.7);
  border-radius: 3px;
  padding: 6px;
  min-width: 200px;
  margin-top: 4px;
}

input[type="checkbox"]{
  position: relative; /* This is key, otherwise the checkbox is not clickable */
  border: 1px solid black;
  width: 1em;
  height: 1em;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -4px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: green;
}

input[type="checkbox"]::before{
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

/* Must do :state::psuedo-class not
the other way around */
input[type="checkbox"]:checked::before{
  visibility: visible;
}

input::placeholder{
  color: rgb(174, 174, 174);
}

/*
input[type="radio"]{
  
}

input[type="radio"]:checked::before{
  
}

input[type="radio"]::before{
  
}
*/

legend{
}

input:read-only{
  background-color: lightgray;
}

input:invalid {
  border-color: rgb(165, 0, 0);
  box-shadow: rgb(165, 0, 0);
}

input:valid{
  border: 2px solid rgb(0, 168, 0);
  box-shadow: 0px 0px 1px 1px rgb(0, 165, 0);
}


/* Let browser defauls work
input:-webkit-autofill{
}
*/

.unfulfilled::after{
  content: '*Required';
  position: relative;
  color: rgb(163, 0, 0);
  font-size: 14px;
  font-weight: bold;
}


input:required:invalid {
  border: 2px solid rgb(163, 0, 0);
}

input:optional{
  border: none;
  box-shadow: none;
}


button{
  background-color: rgb(56, 56, 56);
  border: none;
  border-radius: 8px;
  color: ivory;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
}

.button__cta{
max-width: 200px;
}

button:hover{
  cursor: pointer;
  transform: translateY(-6px);
  transition: 0.5s;
}

button:active{
  transform: scale(0.9);
  transition: 0.2s;
}

a, a:visited, a:active {
  color: inherit;
}

a:hover{
  color: inherit;
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

 /* =================== \
|         Classes        |
 \ =================== */ 

.left-panel{
  min-height: 100vh;
  position: relative;
  width: var(--width-left-panel);
  min-width: 350px;
  background-image: url('thomas-kelley-JoH60FhTp50-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.logo-bg{
  display: flex;
  position: relative;
  top: 22.5%;
  width: 100%;
  height: 100px;
  background-color: rgba(56, 56, 56, 0.7);
}

.logo-text{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: 'Norse', sans-serif;
  color: var(--color-text-secondary);
}

.logo-text:hover{
  color: gold;
  transition: 1s;
}

.bg-credit{
  position: relative;
  top: 70%;
  padding: 20px;
  font-size: 14px;
  color: var(--color-text-secondary);
  text-align: center;
}

.right-panel{
  width: calc(100vw - var(--width-left-panel));
  display: flex;
  flex-direction: column;
}

.context-container{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1rem;
}

.form-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  gap: 40px;
}

.form-field{  
  display: flex;
  flex-direction: column;
  min-height: 80px;
  padding: 10px;
  max-width: 200px;
}

.section-wrapper__form-footer{
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-shadow{
  box-shadow: 5px 4px 2px 2px rgba(255, 215, 0, 0.9);
}

.section-wrapper {
  min-height: 30vh;
   /* border: 1px dashed gray;Disable me for production */
}

.section-wrapper__context{
  display: flex;
  padding: 20px 20px 40px 20px;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 1px dashed gray; Disable me for production */
}

.section-wrapper__form{
  padding: 20px;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
}

.section-wrapper__form h2{
  margin-top: 20px;
}

.section-wrapper__cta{
  padding: 20px;
}

.rhyme-a{
  color: var(--color-accent-a);
}

.rhyme-b{
  color: var(--color-accent-b);
}

.deck {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  gap: 8px;
  padding: 6px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-bg-secondary);
  border-radius: 5px;
  min-width: 250px;
}

/* Section has Deck > Cards > Gems */
.gem {
  
}

.card p {
}